In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Importing Data Sets
df_prods = pd.read_csv(r'C:\Users\julia\anaconda3\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)
df_ords = pd.read_csv(r'C:\Users\julia\anaconda3\Instacart Basket Analysis\02 Data\Prepared Data\orders_wrangled.csv', index_col = False)

In [97]:
path = r'C:\Users\julia\anaconda3\Instacart Basket Analysis'

In [11]:
# Check order data frame 
df_ords.describe()

,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [12]:
# Check products data frame 
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [13]:
# TEST create a data frame
df_test = pd.DataFrame()

In [14]:
# TEST create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [15]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [16]:
# check for mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\julia\AppData\Local\Temp\ipykernel_4424\3342335270.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [17]:
df_test['mix'] = df_test['mix'].astype('str')

In [22]:
df_test.dtypes

mix    object
dtype: object

In [23]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [2]:
df_ords.isnull().sum()

NameError: name 'df_ords' is not defined

In [ ]:
# Selecting only the missing data

In [24]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [25]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [26]:
df_prods.shape

(49693, 5)

In [28]:
# Creating a new data frame without NaN
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [30]:
df_prods_clean.shape

(49677, 5)

In [31]:
# Looking for full duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [32]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [34]:
df_prods_clean.shape

(49677, 5)

In [35]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [36]:
df_prods_clean_no_dups.shape

(49672, 5)

In [37]:
# Task 2 - Check the orders data frame
df_ords.describe()

,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
## The min should always be 0. Some max don't make sense, because the 25% or 50% are higher than the max.

In [45]:
# Task 3 - Checking for mixed-type data
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\julia\AppData\Local\Temp\ipykernel_4424\2625976930.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\julia\AppData\Local\Temp\ipykernel_4424\2625976930.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\julia\AppData\Local\Temp\ipykernel_4424\2625976930.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\julia\AppData\Local\Temp\ipykernel_4424\2625976930.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\julia\AppData\Local\Temp\ipykernel_4424\2625976930.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [46]:
## It appears there is no mixed data, just numbers. I'm not sure what the error is though.

In [47]:
df_ords.dtypes

user_id                     int64
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [48]:
# Task 5 - Checking for missing values
df_ords.isnull().sum()

user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [ ]:
## There are 206209 missing values in the days_since_prior_order column

In [ ]:
# Task 6 - Addressing missing values

In [51]:
df_ords.describe()

,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [64]:
df_ords['days_since_prior_order'].fillna(1.111484e+01, inplace=True)

In [65]:
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [66]:
df_nan

Empty DataFrame
Columns: [user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
## We can't remove the missing values because it would simply be too much data. I imputed the missing values with the mean.

In [ ]:
# Task 7 - Checking for duplicate values

In [67]:
df_dups = df_ords[df_ords.duplicated()]

In [68]:
df_dups

Empty DataFrame
Columns: [user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
## There don't seem to be duplicates. If there were, I could just create a new data frame without the duplicates to be sure not to delete something important by mistake

In [ ]:
# Exporting data frames

In [99]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [100]:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))