# 4.6.1 Combinung & Merging Data

## This script contains the following points:

### 1. Import the data sets

### 2. Check the dimensions of the imported dataframes

### 3. Merge the dataframes

### 4. Use the indicator argument to check whether there was a full match between the two dataframes

### 5. Export data in pickle format

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 1. Import the data sets

In [2]:
path = r'C:\Users\julia\anaconda3\Instacart Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior_s.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_s.csv'), index_col = False)

### 2. Check the dimensions of the imported dataframes

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
df_ords_prior.shape

(106634, 4)

In [9]:
df_ords.shape

(116514, 7)

### 3. Merge the dataframes

In [7]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
# INFO: I had to import the original data orders dataframe because for whatever reason, the orders_checked dataframe didn't contain an order_id and the original data set was completely empty

In [ ]:
# IMPORTANT: I couldn't troubleshoot the merging error even with the 3 different approaches so in order to not waste any more time and for the sake of the exercise (I know this is not a solution in real life!) I minimised the Excel data sets, so I could merge it here

In [10]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,8382,23,prior,2,0,10,9.0,3873,1,0,both
1,8382,23,prior,2,0,10,9.0,28199,2,0,both
2,8382,23,prior,2,0,10,9.0,42372,3,0,both
3,8382,23,prior,2,0,10,9.0,23106,4,0,both
4,8382,23,prior,2,0,10,9.0,33819,5,0,both

### 4. Use the indicator argument to check whether there was a full match between the two dataframes

In [12]:
df_merged_large['_merge'].value_counts()

_merge
both          3809
left_only        0
right_only       0
Name: count, dtype: int64

In [13]:
# The resulting dataframe (after the merge) has 3809 rows (due to the heavy deletion resulting from aforementioned problem)

### 5. Export data in pickle format

In [14]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [15]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_final.csv'))