# Importing libraries

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [3]:
path = r'/Users/rachelgrigiac/Documents/CareerFoundry/Instacart Basket Analysis'

In [4]:
# Importing orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [5]:
#Importing products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [6]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Mixed-Type Data

In [7]:
# Create a dataframe

df_test = pd.DataFrame()

In [8]:
# Create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/y9/8n80fmjn4t70621k4d0spkzh0000gn/T/ipykernel_2964/1522843687.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [11]:
df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

In [12]:
#Looking for any missing values.
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
#Creating a subset to view the missing values.
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
df_prods.shape

(49693, 5)

In [16]:
#Filtering out the missing values.
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
df_prods_clean.shape

(49677, 5)

# Duplicates

In [18]:
#Rows that are duplicates.
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
#Checking current number of rows.
df_prods_clean.shape

(49677, 5)

In [21]:
#Creating a new dataframe that doesn't include the duplicates.
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
df_prods_clean_no_dups.shape

(49672, 5)

# Exporting Data

In [23]:
#Exporting df_prods_clean_no_dups as 'products_checked.csv'
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# Task 4.5

### 2.

In [24]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

The count of order_id equals the maximum order_id (with a minimum value of 1), which makes sense.

The count of user_id is greater than the maximum number of user_id (with a minimum value of 1), which also makes sense, as the same user might have placed different orders. 

The minimum user_order_number is 1, as an user have placed at least one order. The maximum is 100, which could make sense for a regular client.

The minimum for order_hour_of_day is 0, and the maximum is 23, as it adheres to the 24-hour timeframe.

Regarding days_since_prior_order, the count is lower than for the other columns, which suggests there may be missing data.

### 3.

In [29]:
# Checking for mixed-type data.
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)
  else:
      print ('No mixed-type data.')

No mixed-type data.
No mixed-type data.
No mixed-type data.
No mixed-type data.
No mixed-type data.
No mixed-type data.
No mixed-type data.

### 5.

In [30]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
user_order_number              0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

As noted in Q2, there are missing data in the days_since_prior_order column. Interestingly, the number of missing data matches the number of unique users (as indicated by the maximum user_id). Hence, we can assume that these missing entries occur when a customer places their initial order, and consequently there are no prior orders to reference.

In [33]:
#Creating a subset to view the missing values.
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [34]:
df_nan

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

This subset confirms that when 'user_order_number' equals 1, showcases a 'days_since_prior_order' value of NaN.

### 6.

In such case, the best way to address missing data is to create a new variable that serves as a flag.

In [37]:
# Creating a new column called 'first_order'.
df_ords['first_order'] = (df_ords['user_order_number'] == 1)

In [38]:
df_ords

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0,False
3421079,3421079,1854736,206209,11,4,10,30.0,False
3421080,3421080,626363,206209,12,1,12,18.0,False
3421081,3421081,2977660,206209,13,1,12,7.0,False
3421082,3421082,272231,206209,14,6,14,30.0,False

In [40]:
# Checking if the count of True values is equal to 206209.
df_ords['first_order'].value_counts()

first_order
False    3214874
True      206209
Name: count, dtype: int64

### 7.

In [43]:
df_dups = df_ords[df_ords.duplicated()]

No duplicates found.

### 9.

In [44]:
#Exporting df_ords as 'orders_checked.csv'
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

(products_checked.csv has been exported earlier in the exercise)